.musicPLayerGlobal {
    height: 600px;
    width: 600px;
    /* border: 4px solid orange; */
    background-color: #23232D;
    box-shadow: 2px 3px 5px rgb(251, 113, 113);

    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
}


.musicPLayerImg {
    height: 400px;
    width: 400px;
    /* border: 4px solid orange; */
    background-color: rgb(215, 173, 94);

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}



.musicPLayerEnsemble {
    height: 80px;
    width: 80%;
    /* border: 4px solid orange; */
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(198, 198, 198);
    /* display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline; */
}

.musicPLayerMusic {
    /* height: 50%; */
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.musicPLayerArtiste {
    /* height: 50%; */
    /* border: 1px solid rgb(174, 49, 49); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;


}