* {
    text-decoration: none;
}

.cercleGlobal {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 88vw;
    height: 100%;
    margin-top: 300px;
    /* align-items: center; */
    /* border: 2px solid rgb(102, 66, 66); */

}




.cercle {
    width: 11.5rem;
    height: 11.5rem;
    background-color: #23232D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    box-shadow: 2px 3px 5px rgb(251, 113, 113);
    transition: all .4s ease-in-out;

}

.cercle:hover {
    background: linear-gradient(0.45turn, #ec2a41, #c57272);
    /* color: #EF5466; */
    transform: scale(1.1);
    box-shadow: none;
    color: rgb(34, 34, 34);

}


/* -------------------------------------------------------------------------------------- */
.cercle:hover * {
    height: 80px;
    color: rgb(11, 10, 10);
}


.iconNote {
    height: 80px;
    color: orange;
    padding: 55px;
    /* border: 1px solid white; */
    border-radius: 50%;

}

/* .iconNote:hover {
    height: 80px;
    color: rgb(11, 10, 10);

} */

.iconList {
    height: 80px;
    color: rgb(205, 95, 6);
    padding: 55px;
    /* border: 1px solid white; */
    border-radius: 50%;
}

/* .iconList:hover {
    height: 80px;
    color: rgb(11, 10, 10);

} */

.iconHeart {
    height: 80px;
    color: rgb(192, 8, 234);
    padding: 55px;
    /* border: 1px solid white; */
    border-radius: 50%;

}

/* .iconHeart:hover {
    height: 80px;
    color: rgb(11, 10, 10);

} */

.iconGear {
    height: 80px;
    color: rgb(6, 221, 224);
    padding: 55px;
    /* border: 1px solid white; */
    border-radius: 50%;
}

/* .iconGear:hover {
    height: 80px;
    color: rgb(11, 10, 10);

} */


.iconBook {
    height: 80px;
    color: rgb(206, 9, 9);
    padding: 55px;
    /* border: 1px solid white; */
    border-radius: 50%;
}

/* .iconBook:hover {
    height: 80px;
    color: rgb(11, 10, 10);

} */


/* -------------------------------------------------------------------------------------- */