.musiqueBarGlobal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.musiqueBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-top: 2px solid rgb(152, 152, 152);
    background-color: #23232D;
}


/* -------------------------------------------------------------------------------------- */

.iconForward {

    height: 40px;
    color: white;
    padding: 55px;
    /* border: 1px solid white; */
    border-radius: 50%;
}

.iconPlay {

    height: 40px;
    color: white;
    padding: 55px;
    /* border: 1px solid white; */
    border-radius: 50%;
}

.iconBackward {

    height: 40px;
    color: white;
    padding: 55px;
    /* border: 1px solid white; */
    border-radius: 50%;
}