body {
    min-height: 100%;
    background-color: #121216;
    color: whitesmoke;
    /* margin: 0%;
    padding: 0%;
    box-sizing: border-box; */

}

a {
    color: white;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}